@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    NAU "KhAI"<br />
    631p group<br />
    <abbr title="Phone">P:+380632852593</abbr>
    Shalikov Sergey
</address>

<address>
    <strong>Support:</strong><a href="mailto:Support@example.com">elrib7vj@gmail.com</a>
</address>