@model IEnumerable <Cdc.Web.Models.News>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h4>Welcome to Child Development Centre!</h4>
</div>

<div class="row">
        <h2>News</h2>

    <table class="table">
        <tr>
            <th>
                Time
            </th>
            <th>
                Subject
            </th>
            <th>Content</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeachingSubject.TeachingSubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
            </tr>
        }

    </table>
</div>