@model IEnumerable<Cdc.Web.Models.Lesson>

@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

<table class="table">
    <tr>
        <th>
            Subject Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonTime)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeachingSubject.TeachingSubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LessonTime)
        </td>
    </tr>
}

</table>
