@model Cdc.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Your profile info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Email:</dt>
        <dd>@Model.Email</dd>
    </dl>
</div>
