
@{
    ViewBag.Title = "MakePayment";
}

<h2>Make Payment</h2>

<form method="post">
    <dl>
        <dd>Sum:</dd>
        <dt><input type="number" name="sum" /></dt>
    </dl>
    <input type="submit" />
</form>