
@{
    ViewBag.Title = "RegisterManager";
}

<h2>RegisterManager</h2>

<form method="post">
    <dl>
        <dd>Type email:</dd>
        <dt>@Html.TextBox("email")</dt>
    </dl>
    <input type="submit" />
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}